@{
}

<div>
    <div class="text-center">
        <p>Cadastrar Usuário</p>
    </div>

    <form action="RegisterUser" method="post">
        <div class="form-group">
            <label for="inputEmail">Usuário</label>
            <input name="UserName" type="text" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Inserir usuário">
        </div>

        <div class="form-group">
            <label for="inputName">Nome</label>
            <input name="Name" type="text" class="form-control" id="inputName" placeholder="Nome do usuário">
        </div>

        <div class="form-group">
            <label for="inputBirthDate">Data de Aniversário</label>
            <input name="BirthDate" type="date" class="form-control" id="inputBirthDate" placeholder="Data de Aniversário">
        </div>

        <div class="form-group">
            <label for="inputCpf">CPF</label>
            <input name="CPF" maxlength="11" type="text" class="form-control" id="inputCpf" placeholder="Cpf">
        </div>

        <div class="form-group">
            <label for="inputPassword">Senha</label>
            <input name="Password" type="password" class="form-control" id="inputPassword" placeholder="Senha">
        </div>

        <div class="form-group">
            <label for="inputAddress">Endereço</label>
            <input name="Address" type="text" class="form-control" id="inputAddress" placeholder="Endereço">
        </div>

        <button type="submit" class="btn btn-primary">Criar</button>
    </form>

    @if (ViewBag.TheResult == true)
    {
        <div class="mt-5 alert alert-success">
            <strong>Usuário</strong> cadastrado com sucesso.
            <a asp-area="" asp-controller="Login" asp-action="Index">Fazer Login</a>
        </div>
    }
    else if (ViewBag.TheResult == false)
    {
        <div class="mt-5 alert alert-danger">
            <strong>Erro!</strong> @ViewBag.MsgResult
        </div>
    }
</div>